{% extends 'layout/layout-two-cols-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block--term-view">
        <div class="block-content">
            <h2 class="field field-title">{{ term.name }}</h2>
            <div class="field field-body">{{ term.description }}</div>
        </div>
    </div>
{% endblock %}
