{% extends 'layout/layout-two-cols-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block--page-list">
        <div class="block-content">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
